nodered_app.disabled/flows.json
[{"id":"9e68c672.123078","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ff37b246.d6583","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"mydb","name":"","usetls":false,"tls":""},{"id":"58b408e2.201f28","type":"inject","z":"9e68c672.123078","name":"","props":[],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":470,"y":180,"wires":[["b15fd4dc.d200e8"]]},{"id":"297ef035.193bb","type":"inject","z":"9e68c672.123078","name":"100","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":450,"y":380,"wires":[["1acfb07a.09088","37bb198b.20db36"]]},{"id":"1fe36683.e07459","type":"inject","z":"9e68c672.123078","name":"200","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"200","payloadType":"num","x":450,"y":440,"wires":[["1acfb07a.09088","37bb198b.20db36"]]},{"id":"7ec5222.0ecf1dc","type":"inject","z":"9e68c672.123078","name":"300","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"300","payloadType":"num","x":450,"y":500,"wires":[["1acfb07a.09088","37bb198b.20db36"]]},{"id":"c9acada3.7d7d5","type":"inject","z":"9e68c672.123078","name":"400","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"400","payloadType":"num","x":450,"y":560,"wires":[["1acfb07a.09088","37bb198b.20db36"]]},{"id":"fc36183.f82ebe8","type":"inject","z":"9e68c672.123078","name":"500","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"500","payloadType":"num","x":450,"y":620,"wires":[["1acfb07a.09088","37bb198b.20db36"]]},{"id":"b15fd4dc.d200e8","type":"DeviceStats","z":"9e68c672.123078","name":"","mem":true,"nw":false,"load":true,"hostname":false,"useString":false,"x":630,"y":180,"wires":[["72051b2e.91cd14"]]},{"id":"72051b2e.91cd14","type":"function","z":"9e68c672.123078","name":"","func":"var obj = msg.payload;\nmyObj = {};\nmyObj.cpu = obj.load[0];\nmyObj.mem = obj.mem.used;\nmsg.payload = myObj;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":180,"wires":[["a0a86b8f.728ee8","22741e5d.697662"]]},{"id":"1acfb07a.09088","type":"influxdb out","z":"9e68c672.123078","influxdb":"ff37b246.d6583","name":"","measurement":"input","precision":"","retentionPolicy":"","x":1180,"y":380,"wires":[]},{"id":"37bb198b.20db36","type":"debug","z":"9e68c672.123078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":440,"wires":[]},{"id":"a0a86b8f.728ee8","type":"influxdb out","z":"9e68c672.123078","influxdb":"ff37b246.d6583","name":"","measurement":"system","precision":"","retentionPolicy":"","x":1160,"y":180,"wires":[]},{"id":"22741e5d.697662","type":"debug","z":"9e68c672.123078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":240,"wires":[]}]